<!DOCTYPE html>
<html>
  <head>
    <title><%= fields.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    
    <!-- navigation bar section -->
    
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
	      <div class="navbar-header">
	        <a href="/"><h1>GLARE
	            <small> - log viewer</small>
	        </h1></a>
	      </div>
        
        <div class="nav navbar-nav navbar navbar-right">
          
            <div id="file" class="nav-status"><div class="nav-update">File: <%= fields.file %></div></div>
            <div id="grep" class="nav-status"><div class="nav-update">Grepping: <%= fields.grep %></div></div>
          
        </div>
        
	      <form id="grep_form" class="navbar-form navbar-right" role="search">
	        <input type="text" class="text" name="search" placeholder="Grep term..."/>
	        <input id="submit_search" class="btn btn-sm navbar-btn" type="button" value="Search"/>
	      </form>
	      
        <form class="navbar-right navbar-form" role="search">
          <input id="submit_cmd" type="button" class="btn btn-sm navbar-btn" value="less">
        </form>        
      </div>
    </nav>
    
    <!-- body layout -->
    
    <div class="container-fluid">
      
      <div class="row">
	      
	      <div id="directory" class="col-md-3 sidebar">
	        <h2 class="page-header">Files
	          <small>select files to view</small>
	        </h2>
	        <ul class="nav nav-sidebar">
	          <% fields.files.forEach(function(f){ %>
	          <li><button id="<%= f %>" class="file_div_btn btn btn-sm"><%= f %></button></li>
	          <% }); %>
	        </ul>
	      </div>
	      
	      <div id="body" class="col-md-9 main">
	        <h2 class="page-header">Logs </h2>
	        <div id="log_window">
            
	          <ul id="log_list"></ul>
            
	        </div>
	      </div>
	      
      </div>
    </div>
  </body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/glare-front.js"></script>
</html>
